/* shared styles */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0px  auto;
    border: none;
    width: 200px;
    height: 48px;
    border-radius: 5px;
    /* margin: 50px; */

}
.text-center{
    text-align: center;
}
.primary-color{
    color: #4E47FF;
}


/* header  */

.header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    margin: 0px;
    background-position: top center;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-right: 150px;
    margin-left: 150px;
}
.logo{
    color: #4E47FF;
    font-size:34px;
    height: 51px;
    width: 99px;
}
nav a{
    text-decoration: none;
}
.banner-description{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    /* padding: 158px 267px; */
    margin: 100px 267px;
}

/* main styles */
main{
    max-width: 1450px;
    margin: 0 auto;
    margin-top: 150px;
    /* margin-bottom: 100px; */
}
.action{
    display: flex;
    justify-content: space-between;
}
.action img{
    border-radius: 48px;
}
.section-des{
    color:rgba(37, 36, 50, 0.5);
    font-size: 24px;
    width: 516px;
}

.section-title{
    color: rgba(37, 36, 50, 1);
    font-size: 42px;
    font-weight: bold;
    width: 517px;
}

.second-sec-title{
    color: rgba(37, 36, 50, 1);
    /* margin: 50px 142px; */
    font-size: 38px;
    font-weight: bold;
    /* height: 45px; */
    /* width: 856px; */
    text-align: center;
    margin: 0px;

}
.user-section{
    /* margin: 116px 160px; */
    background-color: rgba(78, 71, 255, 0.1);
    /* width: 1140px; */
    /* height: 306px; */
    padding: 80px 50px;
    border-radius: 24px;
    margin-top: 100px;
}
.user-number{
    padding: 50px 140px;
    margin: 0px;
}
.user-item{
    font-size: 80px;
    font-weight: bold;
    width: 170px;
    color: #4E47FF;
    margin: 0px;
}
.user-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    width: 146px;
    margin: 0px;
    text-align: center;
}