/* shared styles */
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0px  auto;
    border: none;
    width: 132px;
    height: 48px;
    border-radius: 5px;
    /* margin: 50px; */

}
.text-center{
    text-align: center;
}


/* header  */

.header{
    background-image: url('../Assets/Hero-bg.png');
    background-size: cover;
    /* width: 1440px; */
    height: 698px;
    /* gap: 158px; */
    margin: 0px;
    background-position: top center;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    padding: 50px 150px;
}
.logo{
    font-size:34px;
    height: 51px;
    width: 99px;
}
nav a{
    text-decoration: none;
}
.banner-description{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    /* width: 905px; */
    /* height: 152px; */
    text-align: center;
    /* padding: 158px 267px; */
    margin: 100px 267px;
}
